body {
	background: linear-gradient(-45deg, #c0bcbb, #f080a5d7, #8bcde6, #cff8ef);
	background-size: 1200% 1200%;
	animation: gradient 15s ease infinite;
	height: 100vh;
   
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.wrapper {
    height: 20vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .7s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
    font-family: monospace;
    font-size: 3.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }

  }
  
 h1{
    font-family: monospace;
    font-size: 3.5em;
    text-align: center;
    line-height: 25px;
    font-weight: lighter !important;
 }
 h2{
    font-family: monospace;
    font-size: 3em;
    text-align: left;
    width: 90%;
    margin-left: 3%;
    font-weight: bold !important;
   
 }
 ol{
    font-family: monospace;
    font-size: 2em;
    text-align: left;
    
  
 }
 .card{
    background: linear-gradient(270deg, #e2e3e675 0%, rgba(218, 222, 230, 0) 100.97%);
    padding: 5%;
    margin-top: 5%;
   
 }

 .separator{
    background: #2323f8  ;
   }
   .icons{
    width: 32% !important;
    color:rgba(105, 34, 172, 0.815);
    font-size: 50px;
   margin-left: 2%;
   padding-top: 2%;
   
   
}
  
   .card-2{
    
    margin-top: 1% !important;
    color: #000000;
    background: #FAFBFC;
    background: linear-gradient(270deg, #cbccce 0%, rgba(218, 222, 230, 0) 100.97%);
    text-align: center !important;
    box-shadow:
    0 0 40px 10px #fff,  /* inner white */
    /* 0 0 0 5px #f0f, middle magenta */
    /* 0 0 5px 5px #0ff; outer cyan */
  
   }
  
   @media screen
   and (max-device-width: 490px)
   and (orientation: portrait){
     html{
     
      width: 190%;
     
     
    }
    .icons{
        width: 45% !important;
        color:rgba(105, 34, 172, 0.815);
        font-size: 50px;
        align-items: center !important;
        padding-top: 5%;
        padding-bottom: 5%;
       
       
    }
    body {
        background: linear-gradient(-45deg, #c0bcbb, #f080a5d7, #8bcde6, #cff8ef);
        background-size: 900% 900%;
        animation: gradient 15s ease infinite;
        height: 190vh;
       
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    h1{
        font-family: monospace;
        font-size: 5em;
        text-align: center;
     }
     h2{
        font-family: monospace;
        font-size: 3em;
        text-align: left;
        margin-left: 6%;
      
     }
    ol{
        font-family: monospace;
        font-size: 2.8em;
        text-align: left;
        line-height: 45px;
        
     }
   
   }