body {
	background: linear-gradient(-45deg, #f0dbd5, #ec94b6, #8bcde6, #cff8ef);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
   
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.wrapper {
    height: 30vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .typing-demo {
    width: 22ch;
    animation: typing 2s steps(22), blink .7s step-end infinite;
    white-space: nowrap;
    overflow: hidden;
    /* border-right: 3px solid; */
    font-family: monospace;
    font-size: 3.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }

  }
  .redirect-to-portfolio{
    background: var(--purple)!important ;
    border-radius: 30px !important ;
    color: var(--pink) !important ;
    font-weight: 700 !important;
    font-size: 25px !important;
    line-height: 20px !important;
    border: none !important;
    
    margin-left: 12% !important;
    padding: 7px 17px 8px 18px !important ;
  }
 h1{
    font-family: monospace;
    font-size: 3em;
    text-align: center;
 }
 h2{
    font-family: monospace;
    font-size: 2em;
    text-align: left;
    width: 55%;
 }
 h3{
    font-family: monospace;
    font-size: 1.5em;
    text-align: left;
  
 }
 .card{
    background: linear-gradient(270deg, #cbccce 0%, rgba(218, 222, 230, 0) 100.97%);
    padding: 5%;
    margin-top: 5%;
 }

 .separator{
    background: #919192  ;
   }